{% extends 'base.html' %}

{% block content %}

  <h1>Upload an image</h1>
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Upload</button>
  </form>

  {% if images %}
    <h2>Uploaded images</h2>
    {% for image in images %}
      <div>
        <h3>{{ image.title }}</h3>
        <img src="{{ image.image_file.url }}" alt="{{ image.title }}">
        <p>{{ image.description }}</p>
      </div>
    {% endfor %}
  {% endif %}

{% endblock %}
