{% extends 'base.html' %}

{% block content %}
  <h1>Your Uploaded Images</h1>
  {% if object_list %}
    {% for image in object_list %}
      <div>
        <h3>{{ image.title }}</h3>
        <img src="{{ image.image_file.url }}" alt="{{ image.title }}" width="500" height="500">
      </div>
    {% endfor %}
    {% if is_paginated %}
      <div class="pagination">
        <span class="step-links">
          {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">&lsaquo; previous</a>
          {% endif %}

          <span class="current-page">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
          </span>

          {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next &rsaquo;</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
          {% endif %}
        </span>
      </div>
    {% endif %}
  {% else %}
    <p>You haven't uploaded any images yet.</p>
  {% endif %}
{% endblock %}
